* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #000000;
  --fg: #000000;
  --trans-dur: 0.3s;
  font-size: calc(16px + 4 * (100vw - 320px) / 960);
}

.smiley {
  width: 2em;
  height: 2em;
}

.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
  animation: eye1 3s ease-in-out infinite;
}

.smiley__eye1,
.smiley__eye2 {
  transform-origin: 64px 64px;
}

.smiley__eye2 {
  animation-name: eye2;
}

.smiley__mouth1 {
  animation-name: mouth1;
}

.smiley__mouth2 {
  animation-name: mouth2;
  visibility: hidden;
}

/* Animations */
@keyframes eye1 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50%, 60% {
    animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
    transform: rotate(-40deg) translate(0, -56px) scale(1);
  }
  to {
    transform: rotate(225deg) translate(0, -56px) scale(0.35);
  }
}
@keyframes eye2 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  52.5% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
  }
  55%, 70% {
    animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  to {
    transform: rotate(150deg) translate(0, -56px) scale(0.4);
  }
}
@keyframes eyeBlink {
  from, 25%, 75%, to {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes mouth1 {
  from {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 351.86;
    stroke-dashoffset: 0;
  }
  25% {
    animation-timing-function: ease-out;
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1, start);
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: -175.93;
    visibility: visible;
  }
  75%, to {
    visibility: hidden;
  }
}
@keyframes mouth2 {
  from {
    animation-timing-function: steps(1, end);
    visibility: hidden;
  }
  50% {
    animation-timing-function: ease-in-out;
    visibility: visible;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -351.86;
  }
}
@font-face {
  font-family: "SF Pro";
  src: url("../assets/SfPro.OTF");
}
a {
  text-decoration: underline;
  color: #2EA7F6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "SF Pro";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.header__logo {
  width: 100px;
  height: 150px;
}

.header__name {
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.header__bot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #969696;
  font-size: 20px;
}

.bot__link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  text-align: center;
  gap: 10px;
}

.bot__logoLink {
  width: 20px;
  height: 20px;
}

.bot__tglogo {
  width: 20px;
  height: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
}

.main__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  font-size: 30px;
  cursor: pointer;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  margin: 5px;
}

.main__about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-size: 18px;
  padding: 20px;
}

.main__copied {
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  font-size: 18px;
  opacity: 1;
  transition: 0.1s;
}

.footer {
  color: rgb(134, 134, 134);
  font-size: 15px;
}

.hidden {
  opacity: 0;
}

.dockerCreate {
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
